[Unit]
Description=Runs Maltrail's ban-list for ipset/iptables
Requires=timers.target

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1m
AccuracySec=1us

[Install]
WantedBy=timers.target
